# prompt
setopt PROMPT_SUBST

git_prompt() {
  local branch dirty

  branch=$(git rev-parse --abbrev-ref HEAD 2>/dev/null) || return
  git diff --quiet 2>/dev/null || dirty="%F{red}*%f"

  echo "(%F{10}$branch%f)$dirty"
}

INIT_PROMPT='%(?, ,%F{red}FAIL%f
)
%F{8}%n%f %B%F{blue}%~%f%b $(git_prompt)
'

PROMPT=$INIT_PROMPT
RPROMPT='%F{8}%t%f'

CHAR=$([ $UID -eq 0 ] && echo "#" || echo "$")

function zle-line-init zle-keymap-select {
  case $KEYMAP in
    vicmd) COLOR=magenta ;;
    *)     COLOR=$([ $UID -eq 0 ] && echo red || echo blue ) ;;
  esac

  PROMPT="${INIT_PROMPT}%F{$COLOR}${CHAR}%f "
  zle reset-prompt
}

zle -N zle-line-init
zle -N zle-keymap-select
# prompt end

# homebrew
if [[ -x /opt/homebrew/bin/brew ]]; then
  eval "$(/opt/homebrew/bin/brew shellenv)"
elif [[ -x /home/linuxbrew/.linuxbrew/bin/brew ]]; then
  eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
fi
# homebrew end

# alias
alias vi=nvim
alias vim=nvim
# alias end

# docker
export PATH="/Applications/Docker.app/Contents/Resources/bin:$PATH"
# docker end

# pnpm
export PNPM_HOME="/Users/simonmanzler/Library/pnpm"
case ":$PATH:" in
  *":$PNPM_HOME:"*) ;;
  *) export PATH="$PNPM_HOME:$PATH" ;;
esac
# pnpm end

# zoxide
eval "$(zoxide init zsh)"
# zoxide end

# keybinds
bindkey -v
bindkey -M viins 'jk' vi-cmd-mode
bindkey '^y' autosuggest-accept
# keybinds end

# plugins
{{- if eq $.chezmoi.os "darwin" }}
source $HOMEBREW_PREFIX/share/zsh-autosuggestions/zsh-autosuggestions.zsh
source $HOMEBREW_PREFIX/share/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh
{{- else if eq $.chezmoi.os "linux" }}
{{-   if eq $.chezmoi.osRelease.id "arch" }}
source /usr/share/zsh/plugins/zsh-autosuggestions/zsh-autosuggestions.zsh
source /usr/share/zsh/plugins/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh
{{-   else }}
source /usr/share/zsh-autosuggestions/zsh-autosuggestions.zsh
source /usr/share/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh
{{-   end }}
{{- end }}

export NVM_DIR="$HOME/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
[ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion
