#!/usr/bin/env bash

{{- if eq $.chezmoi.os "darwin" }}
brew install {{ join " " .packages.base }}
{{- else if eq $.chezmoi.os "linux" }}
{{-   if eq $.chezmoi.osRelease.id "arch" }}
sudo pacman -S --noconfirm {{ join " " .packages.base }}
{{-   else if eq $.chezmoi.osRelease.id "ubuntu" -}}
sudo apt get {{ join " " .packages.base }}
{{-   end }}
{{- else if eq $.chezmoi.os "android" }}
pkg install {{ join " " .packages.base }}
{{- end }}
