@import "colors.css";

* {
  all: unset;
  border: none;
  border-radius: 0px;
  font-family: "CaskaydiaCove Nerd Font Propo";
  font-size: 13px;
  min-height: 0;
  padding: 0;
  margin: 0;
}

#waybar {
  font-weight: bold;
  color: @muted;
}

/* global paddings */
#temperature,
#network,
#bluetooth,
#battery,
#power-profiles-daemon,
#backlight,
#pulseaudio {
  padding: 1px 7px;
}

/* fix icon padding */
/* #network, */
/* #power-profiles-daemon { */
/*   font-size: 12px; */
/*   padding: 0 10px 0 3px; */
/* } */

/* test icon sizes */
/* #network, */
/* #battery, */
/* #pulseaudio, */
/* #custom-power { */
/*   background-color: red; */
/* } */
/**/
/* #bluetooth, */
/* #power-profiles-daemon, */
/* #backlight { */
/*   background-color: pink; */
/* } */

#backlight-slider,
#pulseaudio-slider {
  padding: 0 12px 0 2px;
}

.modules-right > widget > *,
.modules-left > widget > * {
  margin: 0 4px;
}

.modules-center,
#group-utils,
#mpris,
#custom-power,
#clock {
  background: @bg0;
  padding: 6px 12px;
  border-radius: 50px;
}

.modules-center {
  padding: 6px;
}

/* #custom-power { */
/*   padding: 6px 14px 6px 10px; */
/* } */

#custom-power {
  padding: 6px 11px;
}

#workspaces button {
  padding: 0px 10px;
  margin: 0px 3px;
  border-radius: 12px;
  background-color: @bg1;
  transition: all 0.3s ease-in-out;
}

#workspaces button.active {
  background-color: @brand;
  min-width: 30px;
  transition: all 0.3s ease-in-out;
}

#workspaces button:hover {
  background-color: @overlay0;
  border-radius: 10px;
  min-width: 30px;
}

slider {
  opacity: 0;
  box-shadow: none;
}

trough {
  min-height: 10px;
  min-width: 100px;
  border-radius: 5px;
  background: @bg1;
}

trough highlight {
  min-width: 10px;
  border-radius: 5px;
  background: @brand;
}

tooltip {
  border-radius: 15px;
  background: @bg0;
}

tooltip label {
  padding: 3px 10px;
  color: @muted;
  font-weight: 700;
}

.popup * {
  box-shadow: none;
  outline: none;
}

menu,
menu {
  border-radius: 10px;
  font-weight: 700;
  color: @muted;
  background: @bg0;
}

menu > *,
menu > * {
  padding: 3px 0px;
}

menu > *:hover,
menu > *:hover {
  border-radius: 10px;
  background-color: @inactive;
}

#battery.warning {
  color: orange;
}

#battery.critical {
  color: red;
}
